@mixin issues-table-columns() {
  .mat-column-{
    &user{
      flex: 0 0 150px;
      order: 2;
      justify-content: center;
    }
    &assignee{
      flex: 0 0 150px;
      order: 4;
      justify-content: center;
    }
    &issue{
      flex: 1 1 auto;
      order: 3;
      align-self: stretch;
    }
  }
}
@mixin issues-table-cell-content() {
  .user-container {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .avatar-image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 75px;
      height: 75px;
    }
  }
  .avatar-user-name {
    font-size: 1.1em;
    padding:2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cell-content {
    flex: 1 1 auto;
    overflow: hidden;
    width: 100%;
    text-align: left;
    display: flex;
    &.issue{
      max-height: 152px;
      flex-direction: column;
      align-self: stretch;
      .title{
        text-overflow: ellipsis;
        font-size: 1.5em;
        font-weight: bold;
        height:30px;
        min-height:30px;
        max-height:30px;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .body{
        flex: 1 1 auto;
        white-space: pre-line;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
      }
    }
  }
  .condensed-label {
    display: none;
    font-size: 1.1em;
    flex-basis: 148px;
    width: 148px;        
    font-weight: bold;
  }

}

@mixin issues-table-container() {
  mat-header-cell {
    display: flex;
  }
  a{
    color: initial;
    
  }
  mat-cell {
    display: flex;
    justify-content: flex-end;
    padding:4px;
  }
  
}

@mixin issues-table-header-row-condensed() {
  display: none;
}

@mixin issues-table-condensed() {
  border: 0;
  vertical-align: middle;
}

@mixin issues-table-row-condensed() {
  flex-direction: column;
  //  flex-wrap: wrap;
  border-bottom: 2px solid #ddd;

  &:nth-child(even) {
    background: rgb(245, 245, 245);
  }

  &:nth-child(odd) {
    background: #FFF;
  }

}

@mixin issues-table-cell-condensed() {

  border-bottom: 1px solid #ddd;
  display: flex;
  font-size: 1em;
  text-align: right;
  flex: 1 1 auto;
  width: 100%;
  flex-direction: row;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  .condensed-label {
    display: flex;  
  }

  .user-container{
    width: auto;
  }
  
  padding-right: 12px;
  
}

@mixin issues-table-cell-condensed-before() {
  content: attr(data-label);
  float: left;
  font-weight: normal;
  font-size: .85em;
  width: 148px;
}