<div class="git-issues-table-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort *ngIf="!(searching$ | async)">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef > CREATED </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="condensed-label">CREATED :</div>
        <div class="cell-content">
          {{row.createDateTime | date:'MMMM d h:mm:ss'}}
        </div>
      </mat-cell>
    </ng-container>

    <!-- GitIssues Column -->
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef > USER </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="condensed-label">USER :</div>
        <div class="cell-content">
          <div class="user-container" *ngIf="row.user.userName">
            <div class="avatar-image">
              <img src="{{row.user.avatarUrl}}" />
            </div>
            <div>
              {{row.user.userName}}
            </div>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Progress Column -->

    <ng-container matColumnDef="issue">
      <mat-header-cell *matHeaderCellDef > ISSUE </mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <div class="condensed-label">ISSUE :</div>
        <div class="cell-content issue">
            <div class="title"> {{row.title}} </div>
            <div class="body"> {{row.body}} </div>
        </div>
        
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="assigneeUserName">
      <mat-header-cell *matHeaderCellDef > ASSIGNED </mat-header-cell>
      
      <mat-cell *matCellDef="let row">
        <div class="condensed-label">ASSIGNED :</div>
        <div class="cell-content">
          <div class="user-container" *ngIf="row.assigneeUser.userName">
            <div class="avatar-image">
              <div class="avatar-image">
                <img src="{{row.assigneeUser.avatarUrl}}" />
              </div>
              <div>
                {{row.assigneeUser.userName}}
              </div>
            </div>
          </div>
        </div>
      </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
