@import "./scss/git-issues-table.mixins.scss";

.git-issues-table-container{
  @include issues-table-container();
  @include issues-table-columns();
  @include issues-table-cell-content();
}

@media screen and (max-width: 800px) {
 .mat-table {
  
   @include issues-table-condensed();
   .mat-row {
    @include issues-table-row-condensed();
   }
   .mat-cell{
    @include issues-table-cell-condensed();
   }
 }

 .mat-header-row{
  @include issues-table-header-row-condensed();
 }
}
